body {
  background: white url("images/zizou_scooter.jpeg") no-repeat right top;
  background-size: 300px 300px;
}

p {
  color: green;
}

input {
  color:blue;
}

div#results {
  background: orange;
}
